<title>complete</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- HTML کد pop-up -->
<div class="modal fade" id="passwordResetCompleteModal" tabindex="-1" role="dialog" aria-labelledby="passwordResetCompleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordResetCompleteModalLabel">Password reset complete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="goToLoginPage()">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- JavaScript کد نمایش pop-up و رفتن به صفحه close -->
  <script>
    // نمایش pop-up هنگام بارگذاری صفحه
    $(document).ready(function() {
      $('#passwordResetCompleteModal').modal('show');
    });
  
    // تابع برای رفتن به صفحه close
    function goToLoginPage() {
      window.location.href = "{% url 'login' %}";
    }
  </script>
  