{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1><p>this page</p></h1>
    <p>test : {% plus%}</p>
    <p>published post : {% totalpost%}</p>
    <p>total post : {% posts as totalpost %}</p>
    {% for post in totalpost %}
        <p>{{post}}</p>
    {% endfor %}
    {% for post in totalpost %}
        <p>content_post:{{post.id}}.{{post.content|snippet}}</p>
    {% endfor %}
    <p>{% published %} Hours ago</p>
</body>
</html>